    /* NAVIGATION */

.navbar {
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 2;
  padding-bottom:0;
}

.logo {
  height: 50px;

}

main {
  padding-top: 160px;
}
.row-title {
  margin-bottom: 2rem;
}

.title-pokemon {
  height: 10rem;
}

.row-pokemons {
  margin-bottom: 2rem;
}
.pokemon-name {
  margin-top: 1rem;
  padding-left: 1rem;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 1rem;
}
.card-pokemon {
  width: 9rem;
}
.card-title {
  margin-bottom: 0;
}

.hp {
  position: relative;
  float: right;
}
.pokemon-image {
  padding-top: 2rem;
  
}